* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
}

main {
    width: 80%;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textbox-container {
    position: relative;
    width: 48%;
}

.textbox {
    width: 100%;
    min-height: 300px;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

.error-bubble {
    position: absolute;
    top: -8px;
    left: 12px;
    background-color: #ff4f4f;
    color: #ffffff;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
}

.disclaimer {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

/* feedback */

.feedback {
    position: relative;
    display: inline-block;
}

#feedback-button {
    background-color: #f0f2f5;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.feedback button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s;
}

.feedback button:hover {
background-color: #0056b3;
}

#feedback-options {
    position: absolute;
    right: 0;
    background-color: #f0f2f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 200px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#feedback-options p {
    margin-bottom: 8px;
}

#feedback-options p:last-child {
    margin-bottom: 0;
}

#feedback-options a {
    color: #007BFF;
    text-decoration: none;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9; /* Slightly different shade of gray */
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #777; /* Less intrusive text color */
    margin-bottom: 5px;
    display: inline; /* Make the paragraphs inline */
    padding: 0 10px; /* Add padding to space out the elements */
    position: relative;
}

footer p:not(:last-child):after {
    content: "|"; /* Add a vertical separator */
    position: absolute;
    right: -5px; /* Adjust the position to place the separator correctly */
    color: #777;
}

.dark-mode footer p:not(:last-child):after {
    color: #ccc;
}

.hidden {
display: none;
}

/* Dark Mode */

.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode body {
background-color: #282c34;
color: #f0f2f5;
}

.dark-mode .textbox {
background-color: #3a3b3d;
color: #f0f2f5;
border-color: #4b4d50;
}

.dark-mode .output-tree {
    background-color: #3a3b3d;
    color: #f0f2f5;
    border-color: #4b4d50;
    }

.dark-mode .error-bubble {
background-color: #d12a2a;
}

.dark-mode .disclaimer {
color: #adb5bd;
}

.dark-mode .feedback button {
background-color: #4dabf7;
}

.dark-mode .feedback button:hover {
background-color: #339af0;
}

/* tree */

.output-tree {
    padding: 12px;
    width: 100%;
    min-height: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    overflow-y: auto;
}

.tree-node {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 4px;
}

.tree-node:hover {
    background-color: #f0f2f5;
}

.tree-indent {
    width: 16px;
}

.tree-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
}

.tree-node.collapsed > .tree-arrow {
    border-top: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #333;
}

.tree-content {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    flex-grow: 1;
}

#output-tree ul {
    margin-left: 20px;
    list-style-type: none;
}

/* examples */

.example-paths-container {
    margin-top: 12px;
}

.example-paths-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
}

/* Capability bits */
.list-item-content {
    display: flex;
    align-items: center;
}

.path-and-bits {
    display: flex;
    align-items: left;
    gap: 1em;
}

.bit-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.bit {
    /* Existing styles here */
    margin-left: 10px; /* or any value that suits your design */
}

/* A generic class for all bits */

.bit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;  /* adjust as needed */
    height: 20px; /* adjust as needed */
    border-radius: 5px; /* adjust as needed */
    color: grey;
    border: 1px solid grey;
    background-color: #f8f8f8;
    margin-left: 10px; /* or any value that suits your design */
    font-size: 0.8em; /* adjust as needed */
}

/* Specific classes for each bit when it is set */
.bit.L {
    color: #add8e6; /* light blue */
    border-color: #add8e6;
    background-color: #e6f7ff;
}

.bit.C {
    color: #90ee90; /* light green */
    border-color: #90ee90;
    background-color: #e6ffe6;
}

.bit.R {
    color: #00008b; /* dark blue */
    border-color: #00008b;
    background-color: #e6e6ff;
}

.bit.U {
    color: #006400; /* dark green */
    border-color: #006400;
    background-color: #e6ffe6;
}

.bit.D {
    color: #ff0000; /* red */
    border-color: #ff0000;
    background-color: #ffe6e6;
}

.bit.P {
    color: #40e0d0; /* turquoise */
    border-color: #40e0d0;
    background-color: #e6fffc;
}

.bit.S {
    color: #800080; /* purple */
    border-color: #800080;
    background-color: #ffe6ff;
}

summary {
    display: list-item;
    list-style: '➕';
}
